= link_to 'list Admin', admin_admins_path, :class => "btn btn-info"
= link_to 'list Company', admin_companies_path, :class => "btn btn-info"
= link_to 'list Client', admin_clients_path, :class => "btn btn-info"
= link_to 'list Cities', admin_cities_path, :class => "btn btn-info"
= link_to 'list Article', admin_articles_path, :class => "btn btn-info"
