= link_to t('.list Admin'), admin_admins_path, :class => "btn btn-info"
= link_to t('.list Company'), admin_companies_path, :class => "btn btn-info"
= link_to t('.list Client'), admin_clients_path, :class => "btn btn-info"
= link_to t('.list City'), admin_cities_path, :class => "btn btn-info"
= link_to t('.list Article'), admin_articles_path, :class => "btn btn-info"
