%table
  %tr
    %td Идентификатор
    %td Имя
    %td Фамилия
    %td Почта
    %td Телефон
    %td Пароль
  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.name
      %td= client.surname
      %td= client.email
      %td= client.phone_number
      %td= client.password_digest
= link_to 'Выход', root_path
