%table
  %tr
    %td Идентификатор
    %td Имя
    %td Фамилия
    %td Почта
    %td Телефон

  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.name
      %td= client.surname
      %td= client.email
      %td= client.phone_number
      %td= link_to 'Просмотр', admin_client_path(client)
= link_to 'Создать нового клиента', new_admin_client_path(@client)
= link_to 'Выход', root_path
