%table.table
  %tr.table-info
    %td= Client.human_attribute_name(:id)
    %td= Client.human_attribute_name(:name)
    %td= Client.human_attribute_name(:surname)
    %td= Client.human_attribute_name(:email)
    %td= Client.human_attribute_name(:phone_number)
    %td= Client.human_attribute_name(:state)

  - @clients.each do |client|
    %tr.bg-success
      %td= client.id
      %td= client.name
      %td= client.surname
      %td= client.email
      %td= client.phone_number
      %td= client.human_state_name
      %td= link_to t('.show'), admin_client_path(client)
= link_to t('.create'), new_admin_client_path(@client), :class => "btn btn-info"
= link_to t('.back'), admin_root_path, :class => "btn btn-info"
