= simple_form_for @client, url: admin_clients_path do |f|
  = f.input :name
  = f.input :surname
  = f.input :email
  = f.input :phone_number
  = f.input :password
  = f.button :submit
= link_to 'Выход', root_path
