%table.table
  %tr.table-info
    %th= Admin.human_attribute_name (:id)
    %th= Admin.human_attribute_name (:name)
    %th= Admin.human_attribute_name (:email)
    %th= Admin.human_attribute_name (:role)
    %th= Admin.human_attribute_name (:state)
    %th= t('control')
  - @admins.each do |admin|
    %tr.bg-success
      %td=admin.id
      %td=admin.name
      %td=admin.email
      %td=admin.role_text
      %td=admin.human_state_name
      %td=link_to t('.view profile'), admin_admin_path(admin)
.float-right
  = paginate @admins
.btn.btn-light
  = link_to t('.back'), admin_root_path, :class => "btn btn-info"
.btn.btn-light
  = link_to t('.create new'), new_admin_admin_path, :class => "btn btn-info"
.container.col-md-8.mt-4
  %div
    %p.text-center Статистика зарегистрированных пользователей
    = area_chart Admin.group_by_day(:created_at).count, max: 8
 



