%table.table
  %tr.table-info
    %th ID
    %th= Admin.human_attribute_name (:name)
    %th= Admin.human_attribute_name (:email)
    %th= Admin.human_attribute_name (:role)
    %th= Admin.human_attribute_name (:state)
    %th= Admin.human_attribute_name (:control)
  - @admins.each do |admin|
    %tr.bg-success
      %td=admin.id
      %td=admin.name
      %td=admin.email
      %td=admin.role_text
      %td=admin.human_state_name
      %td=link_to t('.view profile'), admin_admin_path(admin)
.btn.btn-light
  = link_to t('.back'), admin_root_path, :class => "btn btn-info"
.btn.btn-light
  = link_to t('.create new'), new_admin_admin_path, :class => "btn btn-info"


