%table.table
  %tr.table-info
    %th= Order.human_attribute_name (:id)
    %th= Order.human_attribute_name (:service_name)
    %th= Order.human_attribute_name (:client_name)
    %th= Order.human_attribute_name (:company_name)
    %th= Order.human_attribute_name (:city_name)
    %th= Order.human_attribute_name (:price)
    %th= Order.human_attribute_name (:state)
    %th= Order.human_attribute_name (:date_start)
    %th= Order.human_attribute_name (:review)
    %th= t('control')
  - @orders.each do |order|
    %tr.bg-success
      %td=order.id
      %td=order.service_price.service.name
      %td=order.client.name
      %td=order.service_price.company.name
      %td=order.service_price.city.name
      %td=order.price
      %td=order.state
      %td=order.date_start
      %td=order.review
      %td=link_to t('.view order'), admin_order_path(order)
.btn.btn-light
  = link_to t('orders.back'), admin_root_path, :class => "btn btn-info"
.btn.btn-light
  = link_to t('orders.new'), new_admin_order_path, :class => "btn btn-info"

