%table.table
  %thead
    %tr
      %th= Company.human_attribute_name (:id)
      %th= Company.human_attribute_name (:service_name)
      %th= Company.human_attribute_name (:client_name)
      %th= Company.human_attribute_name (:client_surname)
      %th= Company.human_attribute_name (:client_number)
      %th= Company.human_attribute_name (:company_name)
      %th= Company.human_attribute_name (:city_name)
      %th= Company.human_attribute_name (:price)
      %th= Company.human_attribute_name (:state)
      %th= Company.human_attribute_name (:date_start)
      %th= Company.human_attribute_name (:review)
  %tbody
    %tr
      %td=@order.id
      %td=@order.service_price.service.name
      %td=@order.client.name
      %td=@order.client.surname
      %td=@order.client.phone_number
      %td=@order.service_price.company.name
      %td=@order.service_price.city.name
      %td=@order.price
      %td=@order.state
      %td=@order.date_start
      %td=@order.review
= link_to t('orders.back'), admin_orders_path, :class => "btn btn-info"
= link_to t('.del'), edit_admin_order_path(@order.id), :class => "btn btn-info"
-if @order.can_activate?
  = link_to t('.activate'),admin_order_activate_path(@order.id), method: :put, :class => "btn btn-info"
-if @order.can_complete?
  = link_to t('.complited'),admin_order_complete_path(@order.id), method: :put, :class => "btn btn-info"
-if @order.can_reject?
  = link_to t('.rejected'),admin_order_reject_path(@order.id), method: :put, :class => "btn btn-info"