<h2>Поля, отмеченные звездочкой(*), обязательны для заполнения.</h2>
= simple_form_for @company=Company.new, url: company_sign_up_path do |f|
  = f.input :name
  = f.input :email
  = f.association :cities, as: :check_boxes
  = f.input :password
  = f.input :requisites
  = f.input :description
  = f.input :website
  = f.input :phone_number
  = f.button :submit, class: 'btn btn-info'
  = link_to t('cancel'), root_path, :class => "btn btn-info"
