%table.table
  %tr.table-info
    %th= Order.human_attribute_name (:id)
    %th= Order.human_attribute_name (:company)
    %th= Order.human_attribute_name (:client)
    %th= Order.human_attribute_name (:state)
    %th= t('control')
  - @orders.each do |order|
    %tr{ class:[ ('bg-light' if order.active?), ('bg-danger' if order.rejected?), ('bg-success' if order.completed?), ('bg-warning' if order.pending?) ] }
      %td=order.id
      %td=order.service_price.company.name
      %td=order.client.name
      %td=order.human_state_name
      %td=link_to t('.view'), company_order_path(order)
.float-right
  = paginate @orders
= link_to t('.back'), company_profile_path, :class => "btn btn-info"
.container.col-md-8.mt-4
  %div
    %p.text-center Статистика заказов
    = area_chart Order.group_by_day(:created_at).count, max: 8
