= simple_form_for @company, url: company_profile_path(@company.id) do |f|
  = f.input :name
  = f.association :cities, as: :check_boxes, group_method: :city
  = f.input :email
  = f.input :password
  = f.input :requisites
  = f.input :description
  = f.input :website
  = f.input :phone_number
  = f.button :submit, :class => "btn btn-primary"
  = link_to t('.cancel'), company_profile_path, :class => "btn btn-primary"
