%table.table
  %thead
    %tr
      %th= Company.human_attribute_name (:name)
      %th= Company.human_attribute_name (:requisites)
      %th= Company.human_attribute_name (:description)
      %th= Company.human_attribute_name (:rating)
      %th= Company.human_attribute_name (:website)
      %th= Company.human_attribute_name (:phone_and_email)
  %tbody
    %tr
      %td=@company.name
      %td=@company.requisites
      %td=@company.description
      %td=@company.rating
      %td=@company.website
      %td=@company.phone_and_email
= link_to t('.edit'), edit_company_profile_path(@company.id), :class => "btn btn-info"