%table.table
  %tr.table-info
    %th= Order.human_attribute_name (:id)
    %th= Order.human_attribute_name (:service)
    %th= Order.human_attribute_name (:company)
    %th= Order.human_attribute_name (:city)
    %th= Order.human_attribute_name (:price)
    %th= Order.human_attribute_name (:state)
    %th= Order.human_attribute_name (:date_start)
    %th= t('control')
  - @orders.each do |order|
    %tr{ class:[ ('bg-light' if order.active?), ('bg-danger' if order.rejected?), ('bg-success' if order.completed?), ('bg-warning' if order.pending?) ] }
      %td=link_to order.id, client_order_path(order)
      %td=order.service_price.service.name
      %td=order.service_price.company.name
      %td=order.service_price.city.name
      %td=order.price
      %td=order.human_state_name
      %td=order.date_start
      %td=link_to t('.orders_edit'), edit_client_order_path(order)
  = paginate @orders
.btn.btn-light
  = link_to t('.back'), client_profile_path, :class => "btn btn-info"
.btn.btn-light
  = link_to t('.orders_new'), new_client_order_path, :class => "btn btn-info"

