%table.table
  %thead
    %tr
      %th= Order.human_attribute_name (:id)
      %th= Order.human_attribute_name (:service)
      %th= Order.human_attribute_name (:company)
      %th= Order.human_attribute_name (:city)
      %th= Order.human_attribute_name (:price)
      %th= Order.human_attribute_name (:state)
      %th= Order.human_attribute_name (:date_start)
  %tbody
    %tr
      %td=@order.id
      %td=@order.service_price.service.name
      %td=@order.service_price.company.name
      %td=@order.service_price.city.name
      %td=@order.price
      %td=@order.human_state_name
      %td=@order.date_start
= link_to t('.orders_back'), client_orders_path, :class => "btn btn-info"

