%table.table
  %thead
    %tr
      %th= t('orders.id')
      %th= t('orders.service_name')
      %th= t('orders.company_name')
      %th= t('orders.city_name')
      %th= t('orders.price')
      %th= t('orders.state')
      %th= t('orders.date_start')
  %tbody
    %tr
      %td=@order.id
      %td=@order.service_price.service.name
      %td=@order.service_price.company.name
      %td=@order.service_price.city.name
      %td=@order.price
      %td=@order.state
      %td=@order.date_start
= link_to t('orders.back'), client_orders_path, :class => "btn btn-info"

